# {{ ansible_managed }}

{% for section in consul_config_sections %}
# ---------------------------------------------------------------------------
# {{ section.name }}
# ---------------------------------------------------------------------------
{{ section.config }}
{% endfor %}
